<div class="nav">
    <nav class="level">
        <p class="level-item has-text-centered">
            <a href='/games' class="link is-info">Games</a>
        </p>
        <p class="level-item has-text-centered">
            <a href='/consoles' class="link is-info">Consoles</a>
        </p>
        <p class="level-item has-text-centered">
            <a href='/sell' class="link is-info">Sell</a>
        </p>
        <p class="level-item has-text-centered">
            <a href='/' class="gamerspot">GamerSpot</a>
        </p>
        <p class="level-item has-text-centered">
            <a href='/accessories' class="link is-info">Accessories</a>
        </p>
        <p class="level-item has-text-centered">
            <a href='merchandise' class="link is-info">Merch</a>
        </p>
          <p class="level-item has-text-centered">
            <a href='contact' class="link is-info">Contact</a>
        </p>
     
    </nav>
</div>




