<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>GamerSpot</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
    <div class="nav"></div>
<nav class="level">
    <p class="level-item has-text-centered">
        <a class="link is-info" href="/games">Games</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info" href="/consoles">Consoles</a>
    </p>
    <p class="level-item has-text-centered">
        <a href="" class="link is-info">Buy/Sell</a>
    </p>
    <p class="level-item has-text-centered">
        <a class=" gamerspot" href="/">GamerSpot</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Accessories</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Merch</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" href="/login">Login</a>
    </p>
    <p class="level-item has-text-centered">
        <img class="cart" src="/images/cart.png" height="35px" width="35px" />
    </p>
</nav>
</div>

    <main>
      {{{body}}}
    </main>
    
  </body>
  <footer class="footer1">
    <div class="content has-text-centered">
      <p>
        Copyright&copy 2021
      </p>
    </div>
  </footer>
</html>

<script src="../../utils/helpers.js"></script>