{{> nav}}

<div class="container">

  {{#each product}}
  {{#if (is_equal category_id 1)}}
  <div class="notification is-secondary" class="box">
    
    {{product_name}} - ${{price}}
    <button class="button2">Add to Cart</button>
    </div>
    
  {{/if}}
  {{/each}}

</div>

</div>

<script src="/javascript/api.js"></script>


{{> footer}}