
{{> nav}}


<div class="columns">
      {{#each product}}
    {{#if (is_equal category_id 2)}}
  <div class="column">
        {{product_name}}
  </div>
      {{/if}}
    {{/each}}
</div>
    
    
<div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
    <div class="column">
    fifth column
  </div>
  <div class="column">
    sixth column
  </div>
</div>


    
    
</div>
