

{{> nav}}


<div class="container">

  {{#each product}}
  
  {{#if (is_equal category_id 2)}}

  <div class="notification is-secondary" class="box">
     
     <span class="title">{{product_name}}</span><span class="price">${{price}}</span> -{{stock}} in stock 
    <a href="#cart" class="button2">Add to Cart</a>
   </div>
   
  
    
  {{/if}}
  {{/each}}
  
</div>

</div>
{{> cart}}

{{> footer}}

<script src="/javascript/cart.js"></script>
<script src="/javascript/api.js"></script>

