{{> nav}}


<div class="container">

  {{#each product}}
  
  {{#if (is_equal category_id 2)}}

  <div class="notification is-secondary" class="box">
     
    {{product_name}} - ${{price}}  -  {{stock}} in stock
  
    <button class="button2">Add to Cart</button>
   
    </div>
    
  {{/if}}
  {{/each}}
  
</div>
<h1 class="game" id="game1">Game</h1>
</div>

{{> cart}}

<script src="/javascript/cart.js"></script>

<script src="/javascript/api.js"></script>


{{> footer}}

