{{> nav}}

  <div>
        <img class="banner" src="/images/mw4.png" alt="Game of the Week">
    </div>

<h1 class="contact">--Contact Information--</h1>

<a class="link4" href="https://github.com/alehr45/gamer-spot">GamerSpot Repository</a>
{{> footer}}

