{{> nav}}

<div class="container">

  {{#each product}}
  {{#if (is_equal category_id 3)}}
  <div class="notification is-secondary"  class="columns">

    <div class="notification is-secondary" id="name" class="box">
        <span class="title">{{product_name}}</span><span class="price">${{price}}</span> -{{stock}} in stock 
    <a href="#cart" class="button2">Add to Cart</a>
   </div>

    <div class="column">
        <img class="image pb-4" id="game-pic" src="">
      
  
      <div class="columns is-mobile">
        <div class="column">
          <img class="image" id="secondary-pic" src="">
        </div>
        <div class="column">
          <div class="content is-size-7 is-family-sans-serif has-text-weight-bold" id="description"></div>
        </div>
      </div>

    </div>
  </div>
  {{/if}}
  {{/each}}

</div>

</div>
{{> cart}}

{{> footer}}

<script src="/javascript/cart.js"></script>
<script src="/javascript/api.js"></script>