
{{> nav}}

<div class="container">

  {{#each product}}
  {{#if (is_equal category_id 3)}}
  <div class="notification is-secondary"  class="columns">

    <div class="notification is-secondary name">
        {{product_name}} - ${{price}}
        <div id="555">

        </div>
    </div>

    <div class="column">
        
      
  
      <div class="columns is-mobile" >
        <div class="column">
          <img class="image game-pic" src="">
        </div>
        <div class="column">
          <div class="content is-size-7 is-family-sans-serif has-text-weight-bold description"></div>
        </div>
      </div>


      <div class="notification is-secondary" class="box">
        <button class="button2">Add to Cart</button>
      </div>

    </div>
  </div>
  {{/if}}
  {{/each}}



</div>
<h1 class="game" id="game1">Game</h1>
</div>

<script src="/javascript/api.js"></script>

{{> footer}}
{{!-- <script id="example-template" type="text/x-handlebars-template"></script>

{{#each product}}
  {{#if (is_equal category_id 3)}}
    <p>{{product_name}}</p>
  {{/if}}
{{/each}}

{{#each people}}
<p>{{gameName}}</p>
{{/each}}

</script> --}}