
{{> nav}}

<div class="container">

  {{#each product}}
  {{#if (is_equal category_id 3)}}
  <div class="notification is-secondary"  class="columns">

    <div class="notification is-secondary" id="name" class="box">
        {{product_name}} - ${{price}} 
    </div>

    <div class="column">
        <img class="image pb-4" id="game-pic" src="">
      
  
      <div class="columns is-mobile">
        <div class="column">
          <img class="image" id="secondary-pic" src="">
        </div>
        <div class="column">
          <div class="content is-size-7 is-family-sans-serif has-text-weight-bold" id="description"></div>
        </div>
      </div>


      <div class="notification is-secondary" class="box">
        <button class="button2">Add to Cart</button>
      </div>

    </div>
  </div>
  {{/if}}
  {{/each}}



<<<<<<< HEAD
</div>
<h1 class="game" id="game1">Game</h1>
</div>

<script src="/javascript/api.js"></script>

{{> footer}}
=======

<script src="/javascript/api.js"></script>

{{> footer}}
>>>>>>> a2ba3cb1befb4bb9aa849c9b76b253368c1d7a81
