
      
   
    <section>
      
<div>
<img class="banner" src="/images/mw4.png"  alt="Game of the Week">

</div>
      
      </section>

       <div>
    <h1>Here are the products: 
        {{#each product}} 
        {{product_name}}
        {{/each}}
    </h1>
</div> 

    </section>

