    <div class="nav"></div>
        <nav class="level">
          <p class="level-item has-text-centered">
            <a class="link is-info">Games</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info">Consoles</a>
          </p>
          <p class="level-item has-text-centered">
              <a class=" gamerspot">GamerSpot</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info">Accessories</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info">Merch</a>
          </p>
        </nav>
      </div>
      
   
    <section>
      
<div>
<img class="banner" src="/images/mw4.png"  alt="Game of the Week">

</div>
      
      </section>

       <div>
    <h1>Here are the products: 
        {{#each category}} 
            <li>{{product_name}}</li>
            <li>{{price}}</li>
            <li>{{stock}}</li>
        {{/each}}
    </h1>
</div> 

    </section>

