<div class="nav"></div>
<nav class="level">
    <p class="level-item has-text-centered">
        <a class="link is-info">Games</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Consoles</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Buy/Sell</a>
    </p>
    <p class="level-item has-text-centered">
        <a class=" gamerspot">GamerSpot</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Accessories</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Merch</a>
    </p>
    <p class="level-item has-text-centered">
        <img class="cart" src="/images/cart.png" height="35px" width="35px" />
    </p>
</nav>
</div>
      

<div class="card">
      
      <form id="login-form" class="card-body">
      
        <label class="form-label" for="username-login">Username  </label>
        <input  id="username-login" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">Password  </label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />

        <button type="submit" class="btn">Login!</button>
        <a class="login-link" href="/signup">Sign Up</a>
      </form>
    </div>

    <div>
<img class="banner" src="/images/mw4.png"  alt="Game of the Week">

</div>

{{> footer}}
    
<script src="/javascript/login.js"></script>