{{> nav}}


<div class="control">
  <input class="input choice" type="text" placeholder="What would you like to sell?">
</div>

<h1 class="whats">What category does your item belong?</h1>
<div class="control">
  <div class="select">
      
    <select>
      <option>Games</option>
      <option>Consoles</option>
      <option>Merchandise</option>
      <option>Accessories</option>
    </select>
  </div>
</div>
<h1 class="whats">What console does your item belong?</h1>
<div class="control">
  <div class="select">
     
    <select>
      <option>Xbox</option>
      <option>Playstation</option>
      <option>Nintendo</option>
      </select>
  </div>
</div>





{{> footer}}