{{> nav}}


<section class="container content-section">
    <h2 class="section-header">Shop</h2>
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">{{product_name}}</span>
            <img class="shop-item-image" src="">
            <div class="shop-item-details">
                <span class="shop-item-price">{{price}}</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>
</section>

<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE {{price}}</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
        {{product_name}}
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

{{> footer}}

<script src="../public/javascript/cart.js"></script>