@font-face {
  font-family: Hemi;
  src: url("../fonts/HEMIHEAD.TTF");
}

.title {
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.level {
  background-color: rgb(48, 48, 48);

}

.gamerspot {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 70px;
  color: lawngreen;
}

.link.is-info {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 30px;
  color: whitesmoke;
}

.footer1 {
  font-size: 25px;
  font-family: Hemi;
  color: whitesmoke;
  padding-top: 30px;
  background-color: rgb(48, 48, 48);
  height: 100px;
}

.card-header {
  font-family: Hemi;
  font-size: 40px;
}

.consoles {
  padding-top: 20px;
display: flex;
  justify-content: space-evenly;
}

.banner {
    width: 100%;
   
}
 .access {
     padding-bottom: 25px;
     padding-right: 25px;
 }

 .merch {
    padding-bottom: 25px;

 }