@font-face {
  font-family: Hemi;
  src: url("../fonts/HEMIHEAD.TTF");
}
<<<<<<< HEAD
=======

@font-face {
  font-family:Osans;
  src: url("../fonts/NexaRustSans-Black.otf");
}



>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5
.title {
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.level {
  background-color: rgb(41, 41, 41);
}
.cart {
  padding-top: 20px;
}
.card-body {
padding-bottom: 20px;
display: flex;
justify-content: center;
}

.gamerspot {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 70px;
  color: lawngreen;
}
<<<<<<< HEAD
=======

.game {
  font-size: 25px;
  color: white;
  text-align: center;
}

>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5
.link.is-info {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 25px;
  color: whitesmoke;
}
<<<<<<< HEAD
=======

.input.choice {
text-align: center;

}

.whats {
color: rgb(205, 205, 205);
text-align: center;

}

>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5
.footer1 {
  width: 100%;
  font-size: 15px;
  font-family: Hemi;
  color: whitesmoke;
  padding-top: 40px;
  background-color: rgb(41, 41, 41);
  height: 100px;
}

.box {
  background-color: rgb(191, 190, 190);
}


body {
background-color:rgb(58, 58, 58)
}
<<<<<<< HEAD

.button2 {

  border-radius: 6px 6px 6px 6px ;
=======
  
.button2 {

  border-radius: 10px 10px 10px 10px ;
>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5
}


.notification.is-secondary{
background-color: rgb(174, 174, 174);
color: rgb(31, 31, 31);
text-align: center;
<<<<<<< HEAD
font-size: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
=======
font-size: 18px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5

}


.container {
<<<<<<< HEAD
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 10px ;
padding-left: 25px;
padding-right: 25px;
background-color: :rgb(58, 58, 58)
}

.button2 {
  border-radius: ;
  padding: 8px;

background-color: lawngreen;
=======
padding-top: 15px;
padding-bottom: 15px;
border-radius: 10px 10px 10px 10px ;
padding-left: 55px;
padding-right: 55px;
background-color: :rgb(58, 58, 58)
}

.control {
padding: 15px;
display: flex;
justify-content: center;

}
.button2 {
  margin-left: 8px;
  padding-bottom: 4px;
  border-radius: ;
  padding: 4px;

background-color: rgb(38, 233, 8);
>>>>>>> 3bdbdeff85678422fdd637c8f11dd2ae12c2e5a5
}

.form-input{
  padding-right: 10px;
  padding-left: 10px;
}
.login-link {
  font-family: Osans;
  font-size: 25px;
  color: rgb(81, 159, 4);
  padding-left: 10px;
}
.form-label {
  display: flex;
  padding: 2px;
margin: 2px;
}
.card-header {
  display: flex;
  justify-content: center;
  font-family: Hemi;
  font-size: 40px;
  padding: 20px;
}
.consoles {
  padding-top: 20px;
display: flex;
  justify-content: space-evenly;
}
.banner {
    width: 100%;
   
}
 .access {
     padding-bottom: 25px;
     padding-right: 25px;
 }
 .merch {
    padding-bottom: 25px;
 }