@font-face {
  font-family: Hemi;
  src: url("../fonts/HEMIHEAD.TTF");
}

@font-face {
  font-family:Osans;
  src: url("../fonts/NexaRustSans-Black.otf");
}

@font-face {
  font-family:boots;
  src: url("../fonts/Exo2.0-ExtraBold.otf");
}

.title {
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.level {
  background-color: rgb(41, 41, 41);
}
.contact {
  font-family: Hemi;
  text-align: center;
  font-size: 35px;
  color: antiquewhite;
}


.link4 {
  font-family: Hemi;
display: flex;
justify-content: center;
  font-size: 35px;
  color: rgb(70, 208, 58);
}
.cart {
  padding-top: 20px;
}

.card-body {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.gamerspot {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 70px;
  color: lawngreen;
}

.game {
  font-size: 25px;
  color: white;
  text-align: center;
}

.link.is-info {
  font-family: Hemi;
  padding-top: 30px;
  font-size: 25px;
  color: whitesmoke;
}

.input.choice {
  text-align: center;
}

.welcome {
  color: rgb(83, 164, 3);
  font-family: Hemi;
  font-size: 26px;
  text-align: center;
}

.button.is-primary {
  background-color: rgb(61, 104, 18);
}

.whats {
  color: rgb(205, 205, 205);
  text-align: center;
}

.footer1 {
  width: 100%;
  font-size: 15px;
  font-family: Hemi;
  color: whitesmoke;
  padding-top: 40px;
  background-color: rgb(41, 41, 41);
  height: 100px;
}

.box {
  background-color: rgb(191, 190, 190);
}

.login-form{
  padding-top: 10px;
}

.login2 { 
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
  font-family: Hemi;
  color: black;
}

.btn {
  font-family: Hemi;
  font-size: 20px;
  background-color: lawngreen;
}

body {
  background-color:rgb(58, 58, 58)
}
  
.button2 {
  font-size: 15px;
  background-color: lawngreen;
  border-radius: 6px 6px 6px 6px ;
}

.button3 {
  margin-left: 20px;
  color: rgb(116, 116, 116);
  border-radius: 6px 6px 6px 6px ;
  padding: 6px;
  font-family: Hemi;
  font-size: 25px;
  background-color: lawngreen;
}

.login { 
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
  font-family: Hemi;
  color: black;
}

.notification.is-secondary{
  background-color: rgb(174, 174, 174);
  color: rgb(44, 63, 58);
  text-align: center;
  font-size: 18px;
  font-family:'boots';
}

.button.is-secondary{
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
  background-color: lawngreen;
  font-size: 105x;rgb(80, 160, 0);
  display:inline;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 10px ;
  padding-left: 55px;
  padding-right: 55px;
  background-color: rgb(58, 58, 58)
}

.control {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.button2 {
  margin-left: 8px;
  padding-bottom: 4px;
  padding: 4px;
  background-color: lawngreen;
}

.button.is-primary {
  background-color: black;
}

.form-input{
  padding-right: 10px;
  padding-left: 10px;
}

.login-link {
  font-family: Osans;
  font-size: 25px;
  color: rgb(81, 159, 4);
  padding-left: 10px;
}

.form-label {
  font-family: Hemi;
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: center;
  font-family: Hemi;
  font-size: 40px;
  padding: 20px;
}

.consoles {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.banner {
  width: 100%; 
}

.access {
  padding-bottom: 25px;
  padding-right: 25px;
}

.merch {
  padding-bottom: 25px;
}